<script type="text/javascript">
  var canSelectQuote = true;
  $(function() {
    $("#quote_datepicker").datepicker();
  });
  function quoteChooseMoney()
  {
    crossPage = "quote";
    crossPageLink = "quotes/new";
    $("#quotes_div").css("display","none");
    $("#quote_p_s_controls").css("display","block");
    ajaxRequest("resources");

    $("#quote_submit").click(function() {
      var selRow = $("#resources_list").getGridParam("selrow");
      if (selRow != null)
      {
        $("#quote_res_btn").val($("#resources_list").getCell(selRow, "tag"));
        $("#hide_quote_money").val($("#resources_list").getCell(selRow, "id"));
        showQuotePage();
      }
    });
  }
  function showQuotePage()
  {
    $("#quotes_div").css("display","block");
    $("#quote_p_s_controls").css("display","none");
    $("#quote_page_selection").html("");
    $("#quote_submit").unbind("click");
    crossPage = "";
  }
  function showQuoteActionForm()
  {
    $("#quote_res_btn").removeAttr("disabled");
    $("#quote_datepicker").removeAttr("disabled");
    $("#quote_rate").removeAttr("disabled");
    setQuoteDefault();
    canSelectQuote = false;
    $("#quotes_list").resetSelection();
  }
  function showQuoteIndexForm() {
    location.hash = "#quotes";
  }
  function beforeQuoteSave()
  {
    var d = new Date($("#quote_datepicker").val());
    $("#hide_quote_day").val(d.toUTCString());
    $("#hide_quote_rate").val($("#quote_rate").val());
  }
  function onCancelQuote()
  {
    showQuoteIndexForm();
  }
  function onResetQuote()
  {
    $("#save_quote").attr("disabled","disabled");
    setQuoteDefault();
  }
  function setQuoteDefault()
  {
    $("#hide_quote_day").val("");
    $("#hide_quote_rate").val("");
    $("#hide_quote_money").val("");
    $("#quote_res_btn").val("click to choose");
    $("#quote_datepicker").val("");
    $("#quote_rate").val("");
  }
</script>

<%= raw(quotes_jqgrid) %>

<div id="quotes_div">
  <table id="quotes_list"></table>
  <div id="quotes_pager"></div>

  <table>
    <tr id="actions" align="right">
      <%= render "quotes/form_index" %>
    </tr>
    <tr>
      <td style="width: 724px">
        resource:
        <input type="button" id="quote_res_btn" value="click to choose"
               disabled="true" onclick="quoteChooseMoney();"/>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" id="quote_datepicker" size="20" disabled="true"
               onchange="$('#save_quote').removeAttr('disabled');"/>
        rate:
        <input type="text" id="quote_rate" disabled="true"
               onkeypress="$('#save_quote').removeAttr('disabled');"/>
      </td>
    </tr>
  </table>
</div>

<table id="quote_p_s_controls" style="display: none">
    <tr align="right">
      <td>
        <input type="button" value="discard" onclick="showQuotePage();"/>
        <input type="button" id="quote_submit" value="submit" onclick=""/>
      </td>
    </tr>
    <tr id="quote_page_selection">
    </tr>
</table>
