<script type="text/javascript">
$(function() {
  $('#quote_datepicker').datepicker();
});
</script>

<div id="quotes_div">
  <table id="quotes_list"></table>
  <div id="quotes_pager"></div>

  <% content_for :head do %>
    <%= raw(quotes_jqgrid) %>
  <% end %>

  <table>
    <tr id="actions" align="right">
      <%= render 'form_index' %>
    </tr>
    <tr>
      <td style="width: 724px">
        resource:
        <input type="button" id="quote_res_btn" value="click to choose"
               disabled="true" onclick=""/>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text" id="quote_datepicker" size="20" disabled="true"/>
        rate:
        <input type="text" id="quote_rate" disabled="true"/>
      </td>
    </tr>
  </table>
</div>
<div id="frame_quote_div" style="display: none">
  <table>
    <tr align="right">
      <td>
        <input type="button" id="discard" value="discard" onclick=""/>
        <input type="button" id="submit" value="submit" onclick=""/>
      </td>
    </tr>
    <tr>
      <td id="title_frame">
      </td>
    </tr>
    <tr>
      <td>
        <iframe id="frame" src="" width=830 height=500 scrolling=no
                noresize border=0 frameborder=no>
        </iframe>
      </td>
    </tr>
  </table>
</div>
