<% content_for :head do %>
  <title>Abstract::Transcripts</title>
<% end %>

<script type="text/javascript">
$(function() {
  var curr_date = new Date();
  $('#to_datepicker').datepicker();
  $('#to_datepicker').val(curr_date.toLocaleDateString());
  $('#from_datepicker').datepicker();
  curr_date.setFullYear(curr_date.getFullYear()-10);
  $('#from_datepicker').val(curr_date.toLocaleDateString());
});

function chooseDeal()
{
  $('#transcript_table').css('display','none');
  $('#frame_div').css('display','block');
  $('#frame').attr('src', 'deals');
  $('#titleFrame').html('Deals');
  $('#submit').click(function() {
    var selRow = $('#frame').contents().find('#deals_list')
                            .getGridParam('selrow');
    if (selRow != null)
    {
      $('#change_deal').val($('#frame').contents().find('#deals_list')
                                       .getCell(selRow, 'tag'));
      $('#deal_id').val($('#frame').contents().find('#deals_list')
                                              .getCell(selRow, 'id'));
      $('#transcript_table').css('display','block');
      $('#frame_div').css('display','none');
      $('#frame').attr('src', '');
      $("#submit").unbind("click");
    }
  });
}
function discardChoose()
{
  $('#transcript_table').css('display','block');
  $('#frame_div').css('display','none');
  $('#frame').attr('src', '');
  $("#submit").unbind("click");
}
function loadTranscript()
{
  var actionUrl = '/transcripts/load?deal_id=' + $("#deal_id").val() +
                                   '&start=' + $("#from_datepicker").val() +
                                   '&stop=' + $("#to_datepicker").val();
  $('#transcripts_list').setGridParam({url: actionUrl});
  $('#transcripts_list').clearGridData(true);
  $('#transcripts_list').trigger('reloadGrid');
}
</script>

<table id="transcript_table">
  <tr>
    <td colspan="2" align="right" style="width: 800px">
      <input type="button" id="cancel" value="cancel" disabled="true"/>
      <input type="button" id="load" value="load" onclick="loadTranscript();"/>
    </td>
  </tr>
  <tr>
    <td id="loadData" colspan="2">
      <div id="beforeLoadData">
        deal
        <input type="button" id="change_deal" value="click to choose"
               onclick="chooseDeal();"/>
        <input type="hidden" id="deal_id" value=""/>
        from
        <input type="text" id="from_datepicker"/>
        to
        <input type="text" id="to_datepicker"/>
      </div>
      <div id="afterLoadData" style="display: none">
        <br>
          deal
          <a id="loadedDeal"> </a>
        </br>
        <br>
          units
          physical
          <input type="radio" id="physical" name="unit" checked="true"
                 onchange=""/>
          accounting
          <input type="radio" id="accounting" name="unit"
                 onchange=""/>
        </br>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table id="transcripts_list"></table>
      <div id="transcripts_pager"></div>
      <% content_for :head do %>
        <%= raw(transcripts_jqgrid) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td align="left">
      Total turnovers
    </td>
    <td align="right">
      <a id="turnoversDebit"></a>
      <a id="turnoversRedit"></a>
    </td>
  </tr>
  <tr>
    <td align="left">
      Exchange differences
    </td>
    <td align="right">
      <a id="exchangeDebit"></a>
      <a id="exchangeRedit"></a>
    </td>
  </tr>
  <tr>
    <td align="left">
      <a id="tDate"></a>
    </td>
    <td align="right">
      <a id="tDebit"></a>
      <a id="tRedit"></a>
    </td>
  </tr>
</table>

<div id="frame_div" style="display: none">
  <table>
    <tr align="right">
      <td>
        <input type="button" id="discard" value="discard" onclick="discardChoose();"/>
        <input type="button" id="submit" value="submit" onclick=""/>
      </td>
    </tr>
    <tr>
      <td id="titleFrame">
      </td>
    </tr>
    <tr>
      <td>
        <iframe id="frame" src="" width=830 height=500 scrolling=no
                noresize border=0 frameborder=no>
        </iframe>
      </td>
    </tr>
  </table>
</div>
