<script type="text/javascript">
  function getOwnerId() {
    return <%= if current_user != nil && current_user.entity != nil then
      current_user.entity.id
    end %>;
  }
</script>

<div id="storehouseDiv">
</div>
