<script type="text/javascript">
  function viewRelease() {
    location.hash = "#storehouses/releases/show?id=" +
                      $("#releases_list").getGridParam('selrow');
  }
</script>
Releases
<%= raw(releases_jqgrid) %>

<%= form_for(:release, :remote => true) do |f| %>
<%= f.error_messages %>
<% end %>
<table>
  <tbody>
    <tr>
      <td>
        <table id=releases_list></table>
        <div id=releases_pager></div>
      </td>
    </tr>
    <tr>
      <td align="right">
        <input type="button" id="view_release" value="view" disabled="true"
               onclick="viewRelease();"/>
      </td>
    </tr>
  </tbody>
</table>
