Releases
<%= raw(releases_jqgrid) %>

<table>
  <tbody>
    <tr>
      <td>
        <table id=releases_list></table>
        <div id=releases_pager></div>
      </td>
    </tr>
    <tr>
      <td align="right">
        <input type="button" value="view" disabled="true"/>
      </td>
    </tr>
  </tbody>
</table>

