<%= raw(storehouse_jqgrid) %>
<table>
  <tbody>
    <tr align="right">
      <td colspan="2">
        * - required fields
      </td>
    </tr>
    <tr>
      <td align="left">
        Owner*:
      </td>
      <td align="right">
        <input type="text" size="50" disabled="true" value="<%= @owner %>"/>
      </td>
    </tr>
    <tr>
      <td align="left">
        Date*:
      </td>
      <td align="right">
        <input type="text" size="50" disabled="true" value="<%= @date %>"/>
      </td>
    </tr>
    <tr>
      <td align="left">
        To*:
      </td>
      <td align="right">
        <input type="text" size="50" disabled="true" value="<%= @to %>"/>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table id=storehouse_list></table>
        <div id=storehouse_pager></div>
      </td>
    </tr>
    <tr>
      <td colspan="2" align="right">
        <input type="button" value="back" onclick="location.hash = '#storehouses/releases';"/>
        <input type="button" value="cancel"
               onclick="$.ajax({url: 'storehouses/releases/cancel/' + location.hash.substr(30)});"/>
        <input type="button" value="apply"
               onclick="$.ajax({url: 'storehouses/releases/apply/' + location.hash.substr(30)});"/>
      </td>
    </tr>
  </tbody>
</table>
