<td>
  <%= button_to "new", new_entity_path, :method => :get, :remote => true %>
</td>
<td style="width: 45px">
  <%= button_to "change", edit_entity_path(0), :id => 'change_entity',
      :method => :get, :remote => true, :disabled => true %>
</td>
