<td>
  <input name="cancel" type="button" value="cancel"
    onclick="onCancel();"/>
  <input name="reset" type="button" value="reset"
    onclick="onReset();"/>
</td>
<td style="width: 45px">
  <%= form_for(@entity, :remote => true) do |f| %>
  <%= f.submit "save", :id => "save_entity", :disabled => "true",
                       :onclick => "sendTagEntity();" %>
  <%= f.hidden_field :tag, :id => "hide_entity_tag", :value => @entity.tag %>
  <% end %>
</td>
