<script type="text/javascript">
  var firstOpen = false;
  if (!("entity_surrogates" in dataPage))
  {
    dataPage["entity_surrogates"] = new Object();
  }
  if (!("base_entity_surrogates" in dataPage))
  {
    dataPage["base_entity_surrogates"] = new Object();
  }
  if (Object.keys(dataPage["entity_surrogates"]).length == 0 &&
      Object.keys(dataPage["entity_surrogates"]).length == 0) {
    firstOpen = true;
  }
  function onRowChecked(id)
  {
    if (!$("#check_" + id).is(":checked")) {
      delete dataPage["entity_surrogates"][id];
    } else {
      dataPage["entity_surrogates"][id] = true;
    }
    $("#entity_list").setSelection(id);
  }
</script>

<%= raw(check_entities_jqgrid(@list_url)) %>

<table>
  <tr>
    <td colspan="2">
      <table id="entity_list"></table>
      <div id="entity_pager"></div>
    </td>
  </tr>
</table>

<script type="text/javascript">
  var filter = false;
  $("#entity_list").filterToolbar({searchOnEnter : false});
  $("#entity_list")[0].toggleToolbar();
</script>