<script type="text/javascript">
  var entityCheckedData = new Object();
  if ("entity_surrogates" in dataPage)
  {
    entityCheckedData = jQuery.extend(true, {}, dataPage["entity_surrogates"]);
  }
  function onRowChecked(id)
  {
    if (!$("#check_" + id).is(":checked")) {
      delete entityCheckedData[id];
    } else {
      entityCheckedData[id] = true;
    }
    $("#entity_list").setSelection(id);
  }
</script>

<%= raw(check_entities_jqgrid) %>

<table>
  <tr>
    <td colspan="2">
      <table id="entity_list"></table>
      <div id="entity_pager"></div>
    </td>
  </tr>
</table>

<script type="text/javascript">
  var filter = false;
  $("#entity_list").filterToolbar({searchOnEnter : false});
  $("#entity_list")[0].toggleToolbar();
</script>