<script type="text/javascript">
  var canSelect = true;
  var tagEntity = "";
  function sendTagEntity()
  {
    $('#hide_entity_tag').val(escape($('#entity_tag').val()));
  }
  function showIndexForm()
  {
    canSelect = true;
    $('#actions').html('<%= escape_javascript(render :partial => 'form_index') %>');
    $('#entity_tag').attr('disabled', 'disabled');
    $('#data_list').trigger('reloadGrid');
  }
  function onReset()
  {
    $('#entity_tag').val(tagEntity);
    $('#save_entity').attr('disabled','disabled');
  }
  function showActionForm(tag)
  {
    tagEntity = tag;
    $('#entity_tag').val(tagEntity);
    $('#entity_tag').removeAttr('disabled');
    $('#data_list').resetSelection();
    canSelect = false;
  }
</script>

<% content_for :head do %>
  <title>Abstract::Entities</title>
  <%= raw(entities_jqgrid) %>
<% end %>

<% content_for :table do %>
  <tr id="actions" align="right">
    <%= render 'form_index' %>
  </tr>
  <tr align="left">
    <td colspan="2">
      tag:
      <input id="entity_tag" type="text" value="" size="83" disabled="true"
             onkeypress="$('#save_entity').removeAttr('disabled');"/>
    </td>
  </tr>
<% end %>
