<td>
  <%= button_to "new", new_user_path, :method => :get, :remote => true %>
</td>
<td style="width: 45px">
  <%= button_to "change", edit_user_path(0), :id => 'change_user',
      :method => :get, :remote => true, :disabled => true %>
</td>
