<script type="text/javascript">
  function uncheckRoles()
  {
    var i = 1;
    while($('#user_role_id_' + i).val())
    {
      $('#user_role_id_' + i).removeAttr('checked');
      i++;
    }
  }
</script>

<% content_for :head do %>
  <title>Abstract::Users</title>
<% end %>

<table id="users_list"></table>
<div id="users_pager"></div>

<% content_for :head do %>
  <%= raw(users_jqgrid) %>
<% end %>

<div id="actions">
  <%= render 'form_index' %>
</div>