<script type="text/javascript">
  var dataPage = null;
  var crossPage = "";
  var crossPageLink = "";
  var cancelRequest = false;

  $(window).bind("hashchange", function() {
    if(!cancelRequest) {
      $.ajax({url: location.hash.substr(1, location.hash.length)});
    } else {
      cancelRequest = false;
    }
  });

  $(".page_link").live("click", function() {
    crossPage = "";
    crossPageLink = "";
    dataPage = null;
    if($(this).attr("href") == location.hash) {
      $.ajax({url: location.hash.substr(1, location.hash.length)});
    }
  });

  $(document).ready(function () {
    if(location.hash.length > 0) {
      $.ajax({url: location.hash.substr(1, location.hash.length)});
    }
  });

  $(".button_to").live("submit", function() {
    cancelRequest = true;
    location.hash = $(this).attr("action").substr(1, $(this).attr("action").length);
  });
</script>

<% content_for :head do %>
  <title>Abstract</title>
<% end %>

<div id="body">
</div>
