<script type="text/javascript">
  <% if !user_signed_in? %>
    location.href = "<%= new_user_session_path %>";
  <% end %>

  var dataPage = null;
  var crossPage = "";
  var crossPageLink = "";
  var cancelRequest = false;

  function ajaxRequest(_url) {
    $.ajax({url: _url,
            beforeSend: function() {
                          $.popup({note:'Пожалуйста, подождите',sticked:true});
                        },
            success: function() {
                       $.popup({remove:true});
                     },
            error: function() {
                     $.popup({remove:true});
                     $.popup({note:'Ошибка запроса!',time:2000});
                   }
           });
  }

  $(window).bind("hashchange", function() {
    if(!cancelRequest) {
      ajaxRequest(location.hash.substr(1, location.hash.length));
    } else {
      cancelRequest = false;
    }
  });

  $(".page_link").live("click", function() {
    crossPage = "";
    crossPageLink = "";
    dataPage = null;
    if($(this).attr("href") == location.hash) {
      ajaxRequest(location.hash.substr(1, location.hash.length));
    }
  });

  $(document).ready(function () {
    if(location.hash.length > 0) {
      ajaxRequest(location.hash.substr(1, location.hash.length));
    }
  });

  $(".button_to").live("submit", function() {
    cancelRequest = true;
    location.hash = $(this).attr("action").substr(1, $(this).attr("action").length);
  });
</script>

<% content_for :head do %>
  <title><%=t 'title.abstract'%></title>
<% end %>

<div id="body">
</div>
