<script type="text/javascript">
  var crossPage = "";

  $(window).bind("hashchange", function() {
    if(!crossPage.length) {
      $.ajax({url: location.hash.substr(1, location.hash.length)});
    }
  });

  $('FORM').live('submit', function() {
    location.hash = $(this).attr('action').substr(1, $(this).attr('action').length);
    return false;
  });
</script>

<% content_for :head do %>
  <title>Abstract</title>
<% end %>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>

<p>

  <% if current_user != nil and can? :manage, Entity %>
    <a href="#entities">Entity</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >Entity</a>
  <% end %>

  <% if current_user != nil and can? :manage, Asset, Money %>
    <a href="#resources">Resource</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >Resource</a>
  <% end %>
 
  <% if current_user != nil and can? :manage, Deal %>
    <a href="#deals">Deal</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >Deal</a>
  <% end %>
  
  <% if current_user != nil and can? :manage, Fact %>
    <a href="#facts">Fact</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >Fact</a>
  <% end %>
    
  <% if current_user != nil and can? :manage, Chart %>
    <a href="#charts">Chart</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >Chart</a>
  <% end %>
  
  <% if current_user != nil and can? :manage, Quote %>
    <a href="#quotes">Quote</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >Quote</a>
  <% end %>
  
  <% if current_user != nil and can? :manage, Balance %>
    <a href="#balances">Balance</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >Balance</a>
  <% end %>
  
  <% if current_user != nil and can? :manage, GeneralLedger %>
    <a href="#general_ledgers">GeneralLedger</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >GeneralLedger</a>
  <% end %>
  
  <% if current_user != nil and can? :manage, Transcript %>
    <a href="#transcripts">Transcript</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >Transcript</a>
  <% end %>

</p>
<p>

  <% if current_user != nil and current_user.email == "root@mail.com" %>
    <a href="#users">User</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >User</a>
  <% end %>
  
  <% if current_user != nil and current_user.email == "root@mail.com" %>
    <a href="#roles">Role</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >Role</a>
  <% end %>
  
</p>

<div id="body">
</div>
