<script type="text/javascript">
  var crossPage = "";
  var crossPageLink = "";
  var cancelRequest = false;

  $(window).bind("hashchange", function() {
    if(!cancelRequest) {
      $.ajax({url: location.hash.substr(1, location.hash.length)});
    } else {
      cancelRequest = false;
    }
  });

  $(".page_link").live("click", function() {
    crossPage = "";
    crossPageLink = "";
    if($(this).attr("href") == location.hash) {
      $.ajax({url: location.hash.substr(1, location.hash.length)});
    }
  });

  $(document).ready(function () {
    if(location.hash.length > 0) {
      $.ajax({url: location.hash.substr(1, location.hash.length)});
    }
  });

  $(".button_to").live("submit", function() {
    cancelRequest = true;
    location.hash = $(this).attr("action").substr(1, $(this).attr("action").length);
  });
</script>

<% content_for :head do %>
  <title>Abstract</title>
<% end %>

<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>

<p>

  <% if current_user != nil and can? :manage, Entity %>
    <a href="#entities" class="page_link">Entity</a>
  <% else %>
    <a href="#" onclick="return false;" style="color: buttonshadow" >Entity</a>
  <% end %>

  <% if current_user != nil and can? :manage, Asset, Money %>
    <a href="#resources" class="page_link">Resource</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >Resource</a>
  <% end %>
 
  <% if current_user != nil and can? :manage, Deal %>
    <a href="#deals" class="page_link">Deal</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >Deal</a>
  <% end %>
  
  <% if current_user != nil and can? :manage, Fact %>
    <a href="#facts" class="page_link">Fact</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >Fact</a>
  <% end %>
    
  <% if current_user != nil and can? :manage, Chart %>
    <a href="#charts" class="page_link">Chart</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >Chart</a>
  <% end %>
  
  <% if current_user != nil and can? :manage, Quote %>
    <a href="#quotes" class="page_link">Quote</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >Quote</a>
  <% end %>
  
  <% if current_user != nil and can? :manage, Balance %>
    <a href="#balances" class="page_link">Balance</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >Balance</a>
  <% end %>
  
  <% if current_user != nil and can? :manage, GeneralLedger %>
    <a href="#general_ledgers" class="page_link">GeneralLedger</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >GeneralLedger</a>
  <% end %>
  
  <% if current_user != nil and can? :manage, Transcript %>
    <a href="#transcripts" class="page_link">Transcript</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >Transcript</a>
  <% end %>

</p>
<p>

  <% if current_user != nil and current_user.email == "root@mail.com" %>
    <a href="#users" class="page_link">User</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >User</a>
  <% end %>
  
  <% if current_user != nil and current_user.email == "root@mail.com" %>
    <a href="#roles" class="page_link">Role</a>
  <% else %>
    <a href="#" onclick="return false" style="color: buttonshadow" >Role</a>
  <% end %>

</p>

<div id="body">
</div>
