<div id="chart_div">
  <table>
    <tr>
      <td>Chart</td>
    </tr>
    <tr>
      <td>resource</td>
      <td>
        <input type="button" id="chart_curr" value="click to choose"
                             onclick=""/>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= form_for(@chart, :remote => true) do |f| %>
        <%= f.hidden_field :currency_id, :id => "hide_chart_curr_id"%>
        <%= f.submit "commit", :id => "save_chart",
                               :value => "set as 'Functional currency'" %>
        <% end %>
      </td>
    </tr>
  </table>
</div>
<div id="frame_chart_div" style="display: none">
  <table>
    <tr align="right">
      <td>
        <input type="button" id="discard" value="discard" onclick=""/>
        <input type="button" id="submit" value="submit" onclick=""/>
      </td>
    </tr>
    <tr>
      <td id="title_frame">
      </td>
    </tr>
    <tr>
      <td>
        <iframe id="frame" src="resources" width=830 height=500 scrolling=no
                noresize border=0 frameborder=no>
        </iframe>
      </td>
    </tr>
  </table>
</div>
