<% content_for :head do %>
  <title>Abstract::Balances</title>
<% end %>

<script type="text/javascript">
$(function() {
  $('#balance_datepicker').datepicker();
});

function loadBalance()
{
  var actionUrl = '/balances/load?date=' + $("#balance_datepicker").val()
  $('#balances_list').setGridParam({url: actionUrl});
  $('#balances_list').clearGridData(true);
  $('#balances_list').trigger('reloadGrid');
}
</script>

<table>
  <tr>
    <td align="left">Balances</td>
    <td align="right" style="width: 723px">
      date
      <input type="text" id="balance_datepicker" size="20" onchange="loadBalance();" />
    </td>
  </tr>
  <tr>
    <td colspan="2">
      units
      physical
      <input type="radio" id="physical" name="unit" checked="true"
             onchange="$('#balances_list').trigger('reloadGrid');"/>
      accounting
      <input type="radio" id="accounting" name="unit"
             onchange="$('#balances_list').trigger('reloadGrid');"/>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table id="balances_list"></table>
      <div id="balances_pager"></div>

      <% content_for :head do %>
        <%= raw(balances_jqgrid) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td align="left">Total</td>
    <td align="right">
      <a id="tDebit"></a>
      <a id="tCredit"></a>
    </td>
  </tr>
</table>
