<script type="text/javascript">
$(function() {
  var curr_date = new Date();
  $('#balance_datepicker').datepicker();
  $("#balance_datepicker").val(curr_date.toLocaleDateString());
});

function loadBalance()
{
  var actionUrl = '/balances/load?date=' + $("#balance_datepicker").val();
  $('#data_list').setGridParam({url: actionUrl});
  $('#data_list').clearGridData(true);
  $('#data_list').trigger('reloadGrid');
}
</script>

<% content_for :head do %>
  <title>Abstract::Balances</title>
  <%= raw(balances_jqgrid) %>
<% end %>


<table>
  <tr>
    <td align="left">Balances</td>
    <td align="right" style="width: 723px">
      date
      <input type="text" id="balance_datepicker" size="20" onchange="loadBalance();" />
    </td>
  </tr>
  <tr>
    <td colspan="2">
      units
      physical
      <input type="radio" id="physical" name="unit" checked="true"
             onchange="$('#balances_list').trigger('reloadGrid');"/>
      accounting
      <input type="radio" id="accounting" name="unit"
             onchange="$('#balances_list').trigger('reloadGrid');"/>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table id="data_list"></table>
      <div id="data_pager"></div>

    </td>
  </tr>
  <tr>
    <td align="left">Total</td>
    <td align="right">
      <a id="tDebit">
        <%= @assets %>
      </a>
      <a id="tCredit">
        <%= @liabilities %>
      </a>
    </td>
  </tr>
</table>
