<% content_for :head do %>
  <title>Abstract::Balances</title>
<% end %>

<table id="balances_list"></table>
<div id="balances_pager"></div>

<% content_for :head do %>
  <%= raw(balances_jqgrid) %>
<% end %>
