<script type="text/javascript">
  $(function() {
    $("#waybill_date").datepicker();
  });
</script>

<table id="waybill_add_list">
  <tbody>
    <tr align="right">
      <td colspan="2">
        * - required fields
      </td>
    </tr>
    <tr align="left">
      <td>
        Date*:
      </td>
      <td>
        <input type="text" id="waybill_date" value="" size="30"/>
      </td>
    </tr>
    <tr align="left">
      <td>
        Organization*:
      </td>
      <td>
        <input type="text" id="waybill_organization" value="" size="30"/>
      </td>
    </tr>
    <tr align="left">
      <td>
        Vatin:
      </td>
      <td>
        <input type="text" id="waybill_vatin" value="" size="30"/>
      </td>
    </tr>
  </tbody>
</table>
