Waybills
<%= raw(waybills_jqgrid_tree) %>
<table>
  <tr>
    <td>
      <table id=waybills_tree></table>
      <div id=waybills_tree_pager></div>
    </td>
  </tr>
  <tr>
    <td align="right">
      <input type="button" value="add" onclick="location.hash = '#waybills/new';" />
    </td>
  </tr>
</table>
