<script type="text/javascript">
  var canSelectDeal = true;

  function changeDealDirRate()
  {
    if($("#deal_rate").val() != "")
    {
      $("#deal_rate").val(1/$("#deal_rate").val());
    }
  }
  function dealChoiseEntity()
  {
    crossPage = "deal";
    crossPageLink = "deals/new";
    $("#deals_div").css("display","none");
    $("#deal_p_s_controls").css("display","block");
    $("#deal_page_selection").html("<%= escape_javascript(render :partial => 'entities/index') %>");
    $("#deal_submit").click(function() {
      var selRow = $("#entity_list").getGridParam("selrow");
      if (selRow != null)
      {
        $("#hide_deal_entity_id").val(selRow);
        $("#deal_entity_tag").val($("#entity_list").getCell(selRow, "tag"));
        showDealPage();
      }
    });
  }
  function showDealPage()
  {
    $("#deals_div").css("display","block");
    $("#deal_p_s_controls").css("display","none");
    $("#deal_page_selection").html("");
    $("#deal_submit").unbind("click");
    crossPage = "";
  }
  function dealChoiseResource(type)
  {
    crossPage = "deal";
    crossPageLink = "deals/new";
    $("#deals_div").css("display","none");
    $("#deal_p_s_controls").css("display","block");
    $.ajax({url: "resources"});
    
    $("#deal_submit").click(function() {
      var selRow = $("#resources_list").getGridParam("selrow");
      if (selRow != null)
      {
        $("#deal_" + type + "_tag").val($("#resources_list").getCell(selRow, "tag"));
        $("#hide_deal_" + type + "_id").val($("#resources_list")
                                                .getCell(selRow, "id"));
        $("#hide_deal_" + type + "_type").val($("#resources_list")
                                                .getCell(selRow, "type"));
        showDealPage();
      }
    });
  }
  function beforeDealSave()
  {
    $("#hide_deal_tag").val(escape($("#deal_tag").val()));
    if($("#dir_1").attr("checked") && ($("#deal_rate").val() != "")) {
      $("#hide_deal_rate").val(1/$("#deal_rate").val());
    } else {
      $("#hide_deal_rate").val(escape($("#deal_rate").val()));
    }
    if($("#isOfBalance").attr("checked")) {
      $("#hide_is_off_balance").val("1");
    } else {
      $("#hide_is_off_balance").val("0");
    }
  }
  function disabledElements()
  {
    $("#dir_0").attr("checked", "checked");
    $("#dir_0").attr("disabled", "disabled");
    $("#dir_1").attr("disabled", "disabled");
    $("#deal_tag").val("");
    $("#deal_tag").attr("disabled", "disabled");
    $("#deal_entity_tag").val("");
    $("#deal_entity_choose").removeAttr("disabled");
    $("#deal_give_tag").val("");
    $("#deal_give_choose").attr("disabled","disabled");
    $("#deal_take_tag").val("");
    $("#deal_take_choose").attr("disabled","disabled");
    $("#deal_rate").val("");
    $("#deal_rate").attr("disabled","disabled");
    $("#isOfBalance").attr("disabled","disabled");
  }
  function enabledElements()
  {
    $("#dir_0").removeAttr("disabled");
    $("#dir_1").removeAttr("disabled");
    $("#dir_0").attr("checked","checked");
    $("#deal_tag").val("");
    $("#deal_tag").removeAttr("disabled");
    $("#deal_entity_tag").val("");
    $("#deal_entity_choose").removeAttr("disabled");
    $("#deal_give_tag").val("");
    $("#deal_give_choose").removeAttr("disabled");
    $("#deal_take_tag").val("");
    $("#deal_take_choose").removeAttr("disabled");
    $("#deal_rate").val("");
    $("#deal_rate").removeAttr("disabled");
    $("#hide_deal_tag").val("");
    $("#hide_deal_rate").val("");
    $("#hide_deal_entity_id").val("");
    $("#hide_deal_give_id").val("");
    $("#hide_deal_give_type").val("");
    $("#hide_deal_take_id").val("");
    $("#hide_deal_take_type").val("");
    $("#hide_is_off_balance").val("");
    $("#isOfBalance").removeAttr("disabled");
    $("#isOfBalance").removeAttr("checked");
  }
  function showDealIndexForm()
  {
    if(crossPage.length) {
      $("#actions").html("<%= escape_javascript(render :partial => 'deals/form_index') %>");
      $("#deals_list").trigger("reloadGrid");
      disabledElements();
      canSelectDeal = true;
      cancelRequest = true;
      location.hash = crossPageLink;
    } else {
      location.hash = "#deals";
    }
  }
  function onCancelDeal()
  {
    showDealIndexForm();
  }
  function onResetDeal()
  {
    enabledElements();
    $("#save_deal").attr("disabled","disabled");
  }
</script>

<%= raw(deals_jqgrid) %>

<div id="deals_div">
  <table id="deals_list"></table>
  <div id="deals_pager"></div>

  <table>
    <tr id="deal_actions" align="right">
      <%= render 'deals/form_index' %>
    </tr>
    <tr align="right">
      <td colspan="2">
        <input type="checkbox" id="isOfBalance" disabled="true">
          is off balance
        </input>
      </td>
    </tr>
    <tr align="left">
      <td colspan="2">
        tag:
        <input id="deal_tag" type="text" disabled="true" value="" size="83"
               onkeypress="$('#save_deal').removeAttr('disabled');"/>
      </td>
    </tr>
    <tr align="left">
      <td colspan="2">
        entity:
        <input id="deal_entity_tag" type="text" disabled="true" value="" size="72" />
        <input id="deal_entity_choose" type="button" value="choose" disabled="true"
               onclick="dealChoiseEntity();"/>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table>
          <tr align="left">
            <td align="left">
              <br> We GIVE </br>
              <br> <input id="deal_give_tag" type="text" disabled="true" value=""
                          size="30" /> </br>
              <br> <input id="deal_give_choose" type="button" value="choose"
                          disabled="true" onclick="dealChoiseResource('give');"/> </br>
            </td>
            <td align="center">
              <br>rate</br>
              <br> <input type="radio" id="dir_0" name="direction" checked="true"
                          disabled="true" onchange="changeDealDirRate();"/> --> </br>
              <br> <input type="radio" id="dir_1" name="direction"
                          disabled="true" onchange="changeDealDirRate();"/> <-- </br>
              <br> <input id="deal_rate" type="text" disabled="true" value=""
                          size="20" /> </br>
            </td>
            <td align="right">
              <br> We TAKE </br>
              <br> <input id="deal_take_tag" type="text" disabled="true" value=""
                          size="30" /> </br>
              <br> <input id="deal_take_choose" type="button" value="choose"
                          disabled="true" onclick="dealChoiseResource('take');"/> </br>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<table id="deal_p_s_controls" style="display: none">
    <tr align="right">
      <td>
        <input type="button" value="discard" onclick="showDealPage();"/>
        <input type="button" id="deal_submit" value="submit" onclick=""/>
      </td>
    </tr>
    <tr id="deal_page_selection">
    </tr>
</table>
