<script type="text/javascript">
  var tempTag = "";
  function getResourceTag(id, type, direction)
  {
    var action;
    if(type == 'asset')
    {
      action = $.ajax({url: 'resources/' + id + '/get_asset_tag'});
    }
    else
    {
      action = $.ajax({url: 'resources/' + id + '/get_money_tag'});
    }
    action.complete(function() { $('#' + direction + '_tag').val(tempTag); });
  }
  function changeDirRate()
  {
    if($('#deal_rate').val() != '')
    {
      $('#deal_rate').val(1/$('#deal_rate').val());
    }
  }
  function choiseEntity()
  {
    $('#deals_div').css('display','none');
    $('#frame_div').css('display','block');
    $('#frame').attr('src', 'entities');
    $('#titleFrame').html('Entities');
    $('#submit').click(function() {
      var selRow = $('#frame').contents().find('#entities_list')
                              .getGridParam('selrow');
      if (selRow != null)
      {
        $('#entity_tag').val(selRow);
        $('#hide_deal_entity_id').val($('#frame').contents().find('#entities_list')
                                                 .getCell(selRow, 'id'));
        $('#deals_div').css('display','block');
        $('#frame_div').css('display','none');
        $('#frame').attr('src', '');
      }
    });
  }
  function discardChoise()
  {
    $('#deals_div').css('display','block');
    $('#frame_div').css('display','none');
  }
  function choiseResource(type)
  {
    $('#deals_div').css('display','none');
    $('#frame_div').css('display','block');
    $('#frame').attr('src', 'resources');
    $('#titleFrame').html('Resources');
    $('#submit').click(function() {
      var selRow = $('#frame').contents().find('#resources_list')
                              .getGridParam('selrow');
      if (selRow != null)
      {
        $('#' + type + '_tag').val(selRow);
        $('#hide_deal_' + type + '_id').val($('#frame').contents()
                                              .find('#resources_list')
                                              .getCell(selRow, 'id'));
        $('#hide_deal_' + type + '_type').val($('#frame').contents()
                                              .find('#resources_list')
                                              .getCell(selRow, 'type'));
        $('#deals_div').css('display','block');
        $('#frame_div').css('display','none');
        $('#frame').attr('src', '');
        $("#submit").unbind("click");
      }
    });
  }
  function escape(text)
  {
    return text.replace(/&/g, '&amp;')
               .replace(/</g, '&lt;')
               .replace(/>/g, '&gt;')
               .replace(/"/g, '&quot;');
  }
  function beforeSave()
  {
    $('#hide_deal_tag').val(escape($('#deal_tag').val()));
    if ($('#dir_1').attr('checked') && ($('#deal_rate').val() != ''))
    {
      $('#hide_deal_rate').val(1/$('#deal_rate').val());
    }
    else
    {
      $('#hide_deal_rate').val(escape($('#deal_rate').val()));
    }
  }
  function disabledElements()
  {
    $('#dir_0').attr('checked', 'checked');
    $('#dir_0').attr('disabled', 'disabled');
    $('#dir_1').attr('disabled', 'disabled');
    $('#deal_tag').val('');
    $('#deal_tag').attr('disabled', 'disabled');
    $('#entity_tag').val('');
    $('#entity_choose').attr('disabled', 'disabled');
    $('#give_tag').val('');
    $('#give_choose').attr('disabled', 'disabled');
    $('#take_tag').val('');
    $('#take_choose').attr('disabled', 'disabled');
    $('#deal_rate').val('');
    $('#deal_rate').attr('disabled', 'disabled');
  }
  function enabledElements()
  {
    $('#dir_0').removeAttr('disabled');
    $('#dir_1').removeAttr('disabled');
    $('#dir_0').attr('checked', 'checked');
    $('#deal_tag').val('');
    $('#deal_tag').removeAttr('disabled');
    $('#entity_tag').val('');
    $('#entity_choose').removeAttr('disabled');
    $('#give_tag').val('');
    $('#give_choose').removeAttr('disabled');
    $('#take_tag').val('');
    $('#take_choose').removeAttr('disabled');
    $('#deal_rate').val('');
    $('#deal_rate').removeAttr('disabled');
  }
  function onCancel()
  {
    $("#actions").html("<%= escape_javascript(render :partial => 'form_index' ) %>");
    $("#deals_list").trigger("reloadGrid");
    disabledElements();
  }
</script>

<div id="deals_div">
  <table id="deals_list"></table>
  <div id="deals_pager"></div>

  <% content_for :head do %>
    <%= raw(deals_jqgrid) %>
  <% end %>

  <table>
    <tr id="actions" align="right">
      <%= render 'form_index' %>
    </tr>
    <tr align="left">
      <td colspan="2">
        tag:
        <input id="deal_tag" type="text" disabled="true" value="" size="83"
               onkeypress="$('#save_deal').removeAttr('disabled');"/>
      </td>
    </tr>
    <tr align="left">
      <td colspan="2">
        entity:
        <input id="entity_tag" type="text" disabled="true" value="" size="72" />
        <input id="entity_choose" type="button" value="choose" disabled="true"
               onclick="choiseEntity();"/>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <table>
          <tr align="left">
            <td align="left">
              <br> We GIVE </br>
              <br> <input id="give_tag" type="text" disabled="true" value=""
                          size="30" /> </br>
              <br> <input id="give_choose" type="button" value="choose"
                          disabled="true" onclick="choiseResource('give');"/> </br>
            </td>
            <td align="center">
              <br>rate</br>
              <br> <input type="radio" id="dir_0" name="direction" checked="true"
                          disabled="true" onchange="changeDirRate();"/> --> </br>
              <br> <input type="radio" id="dir_1" name="direction"
                          disabled="true" onchange="changeDirRate();"/> <-- </br>
              <br> <input id="deal_rate" type="text" disabled="true" value=""
                          size="20" /> </br>
            </td>
            <td align="right">
              <br> We TAKE </br>
              <br> <input id="take_tag" type="text" disabled="true" value=""
                          size="30" /> </br>
              <br> <input id="take_choose" type="button" value="choose"
                          disabled="true" onclick="choiseResource('take');"/> </br>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
<div id="frame_div" style="display: none">
  <table>
    <tr align="right">
      <td>
        <input type="button" id="discard" value="discard" onclick="discardChoise();"/>
        <input type="button" id="submit" value="submit" onclick=""/>
      </td>
    </tr>
    <tr>
      <td id="titleFrame">
      </td>
    </tr>
    <tr>
      <td>
        <iframe id="frame" src="" width=830 height=500 scrolling=no
                noresize border=0 frameborder=no>
        </iframe>
      </td>
    </tr>
  </table>
</div>