<script type="text/javascript">
  var tagResource = unescape($('#hide_res_tag').val());
  $('#resource_tag_a').val(tagResource);
  function escape(text)
  {
    return text.replace(/&/g, '&amp;')
               .replace(/</g, '&lt;')
               .replace(/>/g, '&gt;')
               .replace(/"/g, '&quot;');
  }
  function unescape(text)
  {
    return text.replace(/&quot;/g, '"')
               .replace(/&lt;/g, '<')
               .replace(/&gt;/g, '>')
               .replace(/&amp;/g, '&');
  }
  function sendTagResource()
  {
    $('#hide_res_tag').val(escape($('#resource_tag_a').val()));
  }
</script>

<table>
  <tr align="right">
    <td>
      <input name="cancel" type="button" value="cancel"
        onclick=""/>
      <input name="reset" type="button" value="reset"
        onclick=""/>
    </td>
    <td width="50">
      <div id="resource_action">
        <%= render 'form_action_asset' %>
      </div>
    </td>
  </tr>
  <tr align="left">
    <td colspan="2">
      <div style="float: left">
        monetary:
        <input id="resource_type_a" type="checkbox" onchange=""/>
      </div>
      <div id="div_code" style="float: right; display: none">
        code:
        <input id="resource_code_a" type="text" value="" size="20" />
      </div>
    </td>
  </tr>
  <tr align="left">
    <td colspan="2">
      tag:
      <input id="resource_tag_a" type="text" value="" size="83"
             onkeypress=""/>
    </td>
  </tr>
</table>
