<td>
  <input name="cancel" type="button" value="<%= t('resource.btn_cancel')%>"
    onclick="onCancelResource();"/>
  <input name="reset" type="button" value="<%= t('resource.btn_reset')%>"
    onclick="onResetResource();"/>
</td>
<td style="width: 45px">
  <div id="resource_action"></div>
</td>
