<script type="text/javascript">
  var tagCode = '';
  var tagResource = '';
  $('#resources_list').resetSelection();
  canSelect = false;
  function escape(text)
  {
    return text.replace(/&/g, '&amp;')
               .replace(/</g, '&lt;')
               .replace(/>/g, '&gt;')
               .replace(/"/g, '&quot;');
  }
  function unescape(text)
  {
    return text.replace(/&quot;/g, '"')
               .replace(/&lt;/g, '<')
               .replace(/&gt;/g, '>')
               .replace(/&amp;/g, '&');
  }
  function sendTagAsset()
  {
    $('#hide_asset_tag').val(escape($('#resource_tag_a').val()));
  }
  function sendTagMoney()
  {
    $('#hide_money_code').val(escape($('#resource_code_a').val()));
    $('#hide_money_tag').val(escape($('#resource_tag_a').val()));
  }
  function changeType()
  {
    if($('#resource_type_a').attr('checked'))
    {
      $.ajax({url: '<%= new_money_resources_path %>'})
    }
    else
    {
      $.ajax({url: '<%= new_asset_resources_path %>'})
    }
  }
  function onReset()
  {
     $('#resource_tag_a').val(tagResource);
     $('#resource_code_a').val(tagCode);
     $('#save_resource').attr('disabled','disabled');
  }
  function onCancel()
  {
     canSelect = true;
     $('#actions').html('<%= escape_javascript(render :partial => 'form_index') %>');
     $('#resources_list').resetSelection();
  }
</script>

<table>
  <tr align="right">
    <td>
      <input name="cancel" type="button" value="cancel"
        onclick="onCancel();"/>
      <input name="reset" type="button" value="reset"
        onclick="onReset();"/>
    </td>
    <td width="50">
      <div id="resource_action"></div>
    </td>
  </tr>
  <tr align="left">
    <td colspan="2">
      <div style="float: left">
        monetary:
        <input id="resource_type_a" type="checkbox" onchange="changeType();"/>
      </div>
      <div id="div_code" style="float: right; display: none">
        code:
        <input id="resource_code_a" type="text" value="" size="20"
               onkeypress="$('#save_resource').removeAttr('disabled');"/>
      </div>
    </td>
  </tr>
  <tr align="left">
    <td colspan="2">
      tag:
      <input id="resource_tag_a" type="text" value="" size="83"
             onkeypress="$('#save_resource').removeAttr('disabled');"/>
    </td>
  </tr>
</table>
