<script type="text/javascript">
  var canSelectResource = true;
  var selId = 0;
  var moneyCode = "";
  var resourceTag = "";

  function showResourceActionForm(resType)
  {
    if(resType == "asset") {
      $("#div_money_code").css("display","none");
      moneyCode = "";
    } else {
      $("#div_money_code").css("display","block");
      moneyCode = unescape($("#hide_money_code").val());
    }
    resourceTag = unescape($("#hide_" + resType + "_tag").val());
    $("#money_code").val(moneyCode);
    $("#resource_tag").val(resourceTag);
    $("#resource_tag").removeAttr("disabled");
    $("#resource_type").removeAttr("disabled");
    $("#resources_list").resetSelection();
    canSelectResource = false;
  }
  
  function sendAsset()
  {
    $("#hide_asset_tag").val(escape($("#resource_tag").val()));
  }
  function sendMoney()
  {
    $("#hide_money_code").val(escape($("#money_code").val()));
    $("#hide_money_tag").val(escape($("#resource_tag").val()));
  }
  function onResetResource()
  {
     $("#resource_tag").val(resourceTag);
     $("#resource_code").val(moneyCode);
     $("#save_resource").attr("disabled","disabled");
  }
  function onCancelResource()
  {
     canSelectResource = true;
     $("#resource_actions").html("<%#= escape_javascript(render :partial => 'resources/form_index') %>");
     $("#resources_list").resetSelection();
  }
  function changeResourceType()
  {
    if($("#resource_type").attr("checked"))
    {
      location.hash = "#resources/new_money";
    }
    else
    {
      location.hash = "#resources/new_asset";
    }
  }
</script>

<%= raw(resources_jqgrid) %>

<table id="resources_list"></table>
<div id="resources_pager"></div>

<table>
  <tr id="resource_actions" align="right">
    <%= render 'resources/form_index' %>
  </tr>
  <tr align="left">
    <td colspan="2">
      <div style="float:left">
        monetary:
        <input id="resource_type" type="checkbox" onchange="changeResourceType();"
               disabled="true"/>
      </div>
      <div id="div_money_code" style="float:right; display:none">
        code:
        <input id="money_code" type="text" value="" size="20"
               onkeypress="$('#save_resource').removeAttr('disabled');"/>
      </div>
    </td>
  </tr>
  <tr align="left">
    <td colspan="2">
      tag:
      <input id="resource_tag" type="text" value="" size="83" disabled="true"
             onkeypress="$('#save_resource').removeAttr('disabled');"/>
    </td>
  </tr>
</table>
