<% content_for :head do %>
  <title>Abstract::Resources</title>
<% end %>

<table id="resources_list"></table>
<div id="resources_pager"></div>

<% content_for :head do %>
  <%= raw(resources_jqgrid) %>
<% end %>

<div id="actions">
  <%= render 'form_index' %>
</div>
