<td>
  <%= button_to t('role.btn_new'), new_role_path, :method => :get, :remote => true %>
</td>
<td style="width: 45px">
  <%= button_to t('role.btn_change'), edit_role_path(0), :id => 'change_role',
      :method => :get, :remote => true, :disabled => true %>
</td>
