<script type="text/javascript">
  function escape(text)
  {
    return text.replace(/&/g, '&amp;')
               .replace(/</g, '&lt;')
               .replace(/>/g, '&gt;')
               .replace(/"/g, '&quot;');
  }
  function unescape(text)
  {
    return text.replace(/&quot;/g, '"')
               .replace(/&lt;/g, '<')
               .replace(/&gt;/g, '>')
               .replace(/&amp;/g, '&');
  }
  function sendDataRole()
  {
    $('#hide_name').val(escape($('#role_name').val()));
  }
  function onCancel()
  {
    $('#actions').html('<%= escape_javascript(render :partial => 'form_index') %>');
  }
  function onReset()
  {
    $('#role_name').val('');
    $('#save_role').attr('disabled','disabled');
  }
</script>

<table>
  <tr align="right">
    <td>
      <input name="cancel" type="button" value="cancel"
        onclick="onCancel();"/>
      <input name="reset" type="button" value="reset"
        onclick="onReset();"/>
    </td>
    <td style="width: 45px">
      <%= form_for(@role, :remote => true) do |f| %>
      <%= f.submit "save", :id => "save_role", :disabled => "true",
                           :onclick => "sendDataRole();" %>
      <%= f.hidden_field :name, :id => "hide_name", :value => "" %>
      <% end %>
    </td>
  </tr>
  <tr align="left">
    <td colspan="2">
      name:
      <input id="role_name" type="text" value="" size="80"
             onkeypress="$('#save_role').removeAttr('disabled');" />
    </td>
  </tr>
</table>
