<td>
  <input name="cancel" type="button" value="cancel"
    onclick="onCancel();"/>
  <input name="reset" type="button" value="reset"
    onclick="onReset();"/>
</td>
<td style="width: 45px">
  <%= form_for(@role, :remote => true) do |f| %>
  <%= f.submit "save", :id => "save_role", :disabled => "true",
                       :onclick => "sendDataRole();" %>
  <%= f.hidden_field :name,  :id => "hide_name",  :value => "" %>
  <%= f.hidden_field :pages, :id => "hide_pages", :value => "" %>
  <% end %>
</td>
