<% content_for :head do %>
  <title>Abstract::Roles</title>
<% end %>

<table id="roles_list"></table>
<div id="roles_pager"></div>

<% content_for :head do %>
  <%= raw(roles_jqgrid) %>
<% end %>

<div id="actions">
  <%= render 'form_index' %>
</div>
