<script type="text/javascript">
  $("#rules_list").jqGrid({ datatype: "local"
                          , colNames:['id', 'tag', 'to_id', 'to_tag', 'from_id',
                                      'from_tag', 'rate']
                          , colModel:[{ name:'id',       index:'id',       hidden:true },
                                      { name:'tag',      index:'tag',      width:300 },
                                      { name:'to_id',    index:'to_id',    hidden:true },
                                      { name:'to_tag',   index:'to_tag',   width:200 },
                                      { name:'from_id',  index:'from_id',  hidden:true },
                                      { name:'from_tag', index:'from_tag', width:200 },
                                      { name:'rate',     index:'rate',     width:100 }]
                          , sortname: 'tag'
                          , sortorder: 'asc'
                          , rowNum: 10
                          , rowList: [10,20,30]
                          , pager: '#rules_pager'
                          , viewrecords: true
                          });
  function newRule()
  {
    enableRuleElements();
    clearRuleElements();
  }
  function enableRuleElements()
  {
    $("#rule_index_buttons").css("display","none");
    $("#rule_action_buttons").css("display","block");
    $("#rule_tag").removeAttr("disabled");
    $("#rule_rate").removeAttr("disabled");
    $("#to_tag").removeAttr("disabled");
    $("#to_select").removeAttr("disabled");
    $("#from_tag").removeAttr("disabled");
    $("#from_select").removeAttr("disabled");
    $("#rule_on_off").removeAttr("disabled");
    $("#rule_on_on").removeAttr("disabled");
    $("#rule_off_off").removeAttr("disabled");
    $("#rule_off_on").removeAttr("disabled");
    $("#save_rule").attr("disabled","disabled");
  }
  function clearRuleElements()
  {
    $("#rule_tag").val("");
    $("#rule_rate").val("");
    $("#to_id").val("");
    $("#to_tag").val("");
    $("#from_id").val("");
    $("#from_tag").val("");
    $("#rule_on_off").attr("checked","checked");
    $("#rule_on_on").removeAttr("checked");
    $("#rule_off_off").removeAttr("checked");
    $("#rule_off_on").removeAttr("checked");
  }
  function cancelRule()
  {
    desableRuleElements();
    clearRuleElements();
  }
  function desableRuleElements()
  {
    $("#rule_index_buttons").css("display","block");
    $("#rule_action_buttons").css("display","none");
    $("#rule_tag").attr("disabled","disabled");
    $("#rule_rate").attr("disabled","disabled");
    $("#to_tag").attr("disabled","disabled");
    $("#to_select").attr("disabled","disabled");
    $("#from_tag").attr("disabled","disabled");
    $("#from_select").attr("disabled","disabled");
    $("#rule_on_off").attr("disabled","disabled");
    $("#rule_on_on").attr("disabled","disabled");
    $("#rule_off_off").attr("disabled","disabled");
    $("#rule_off_on").attr("disabled","disabled");
  }
</script>

<div id="rules_div">
  <table id="rules_list"></table>
  <div id="rules_pager"></div>

  <table>
    <tr id="rule_actions" align="right">
      <td id="rule_index_buttons">
        <input type="button" id="new_rule" value="new" onclick="newRule();"/>
        <input type="button" id="change_rule" value="change" disabled="true"
               onclick=""/>
      </td>
      <td id="rule_action_buttons" style="display: none">
        <input type="button" id="cancel_rule" value="cancel" onclick="cancelRule();"/>
        <input type="button" id="reset_rule" value="reset" onclick=""/>
        <input type="button" id="save_rule" value="save" disabled="true"
               onclick=""/>
      </td>
    </tr>
    <tr>
      <td>
        Tag
        <input type="text" id="rule_tag" style="width: 570px" disabled="true"
               value="" onkeypress="$('#save_rule').removeAttr('disabled');"/>
        <input type="radio" id="rule_on_off" name="rule_side" checked="true"
               disabled="true" onchange="$('#save_rule').removeAttr('disabled');">
               Change On/Fact Off </input>
      </td>
    </tr>
    <tr>
      <td>
        Rate
        <input type="text" id="rule_rate" style="width: 563px" disabled="true"
               value="" onkeypress="$('#save_rule').removeAttr('disabled');"/>
        <input type="radio" id="rule_on_on" name="rule_side" disabled="true"
               onchange="$('#save_rule').removeAttr('disabled');">
               Change On/Fact On </input>
      </td>
    </tr>
    <tr>
      <td>
        Give To
        <input type="hidden" id="to_id" value=""/>
        <input type="text" id="to_tag" style="width: 470px" disabled="true"
               value="" onkeypress="$('#save_rule').removeAttr('disabled');"/>
        <input type="button" id="to_select" value="select" disabled="true"
               onclick="" />
        <input type="radio" id="rule_off_off" name="rule_side" disabled="true"
               onchange="$('#save_rule').removeAttr('disabled');">
               Change Off/Fact Off </input>
      </td>
    </tr>
    <tr>
      <td>
        Take From
        <input type="hidden" id="from_id" value=""/>
        <input type="text" id="from_tag" style="width: 443px" disabled="true"
               value="" onkeypress="$('#save_rule').removeAttr('disabled');"/>
        <input type="button" id="from_select" value="select" disabled="true"
               onclick=""/>
        <input type="radio" id="rule_off_on" name="rule_side" disabled="true"
               onchange="$('#save_rule').removeAttr('disabled');">
               Change Off/Fact On </input>
      </td>
    </tr>
  </table>
</div>
