<td>
  <input name="cancel" type="button" value="cancel"
    onclick="onCancelPlace();"/>
  <input name="reset" type="button" value="reset"
    onclick="onResetPlace();"/>
</td>
<td style="width: 45px">
  <%= form_for(@place, :remote => true) do |f| %>
  <%= f.submit "save", :id => "save_place", :disabled => "true",
                       :onclick => "sendTagPlace();" %>
  <%= f.hidden_field :tag, :id => "hide_place_tag", :value => @place.tag %>
  <% end %>
</td>
