<script type="text/javascript">
  var canSelectPlace = true;
  var tagPlace = "";
  function showPlaceActionForm(tag)
  {
    tagPlace = tag;
    $("#place_tag").val(tagPlace);
    $("#place_tag").removeAttr("disabled");
    $("#place_list").resetSelection();
    canSelectPlace = false;
  }
  function showPlaceIndexForm()
  {
    if(crossPage.length) {
      canSelectPlace = true;
      $("#place_tag").attr("disabled","disabled");
      $("#place_list").trigger("reloadGrid");
      $("#place_tag").val("");
      cancelRequest = true;
      location.hash = crossPageLink;
    } else {
      location.hash = "#places";
    }
  }

</script>

<%= raw(places_jqgrid) %>

<table id="place_list"></table>
<div id="place_pager"></div>

<table>
  <tr id="place_actions" align="right">
  </tr>
  <tr align="left">
    <td colspan="2">
      tag:
      <input id="place_tag" type="text" value="" size="83" disabled="true"
             onkeypress="$('#save_place').removeAttr('disabled');"/>
    </td>
  </tr>
</table>
