<script type="text/javascript">
  var canSelectPlace = true;
  var tagPlace = "";
  function showPlaceActionForm(tag)
  {
    tagPlace = tag;
    $("#place_tag").val(tagPlace);
    $("#place_tag").removeAttr("disabled");
    $("#place_list").resetSelection();
    canSelectPlace = false;
    loadPlaceElements();
  }
  function showPlaceIndexForm(id)
  {
		if(id != null) {
			editRowId = id;
		}
    if(crossPage.length) {
      canSelectPlace = true;
      $("#place_tag").attr("disabled","disabled");
      $("#" + crossPage +  "_submit").removeAttr("disabled");
      $("#place_list").trigger("reloadGrid");
      $("#place_tag").val("");
      cancelRequest = true;
      location.hash = crossPageLink;
      $("#place_actions").html("<%= escape_javascript(render :partial => 'places/form_index') %>");
    } else {
      location.hash = "#places";
    }
    dataPage = null;
  }
  function sendTagPlace()
  {
    $("#save_place").attr("disabled", "disabled");
    $("#" + crossPage +  "_submit").attr("disabled", "disabled");
    $("#hide_place_tag").val(escape($("#place_tag").val()));
    savePlaceElements();
  }
  function onCancelPlace()
  {
    showPlaceIndexForm();
  }
  function onResetPlace()
  {
    $("#place_tag").val(tagPlace);
    $("#save_place").attr("disabled","disabled");
  }
  function savePlaceElements() {
    dataPage = new Object();
    dataPage["tag"] = tagPlace;
  }
  function loadPlaceElements() {
    if(dataPage != null) {
      tagPlace = dataPage["tag"];
      dataPage = null;
    }
  }
</script>

<%= raw(places_jqgrid) %>

<table>
  <tr>
    <td colspan="3" id="place_errors"></td>
  </tr>
  <tr>
    <td colspan="3">
      <table id="place_list"></table>
      <div id="place_pager"></div>
    </td>
  </tr>
  <tr id="place_actions" align="right">
    <%= render 'places/form_index' %>
  </tr>
  <tr align="left">
    <td>
      <%=t 'place.tag'%>:
    </td>
    <td colspan="2" align="right">
      <input id="place_tag" type="text" value="" size="75" disabled="true"
             onkeypress="$('#save_place').removeAttr('disabled');"/>
    </td>
  </tr>
</table>

<script type="text/javascript">
  var filter = false;
  $("#place_list").filterToolbar({searchOnEnter : false});
  $("#place_list")[0].toggleToolbar();
</script>
