<%= raw(places_jqgrid) %>

<table id="place_list"></table>
<div id="place_pager"></div>

<table>
  <tr id="place_actions" align="right">
  </tr>
  <tr align="left">
    <td colspan="2">
      tag:
      <input id="place_tag" type="text" value="" size="83" disabled="true"
             onkeypress=""/>
    </td>
  </tr>
</table>
