<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/javascripts/utils-startup.js"></script>
    <script type="text/javascript" src="/javascripts/progressbar.js"></script>
    <link type="text/css" href="/stylesheets/progressbar.css" rel="stylesheet" media="screen">

    <%= yield :head %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
